body {
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: #ddd;
}
.logo {
    width: 120px;
    margin: 20px;
}
#logo{
    width: 100%;
}
header span {
    align-self: center;
    font-weight: bold;
}
.container{
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: #ddd;
    margin: auto;
}
.caja {
    margin: 15px;
    padding: 50px;
    box-sizing: border-box;
}

.caja-1{
    background-color: #f00;
}
.caja-2{
    background-color: #0f0;
}
.caja-3{
    background-color: #00f;
}
.cont-respuesta {
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: #ccc;
    margin: 20px auto;
    padding: 20px;
}
.selected {
    background-color: #999;
    opacity: .8;
    border: 2px solid #000;   
}